
    <!-- Page Content -->

    <% include ../partials/header %>

    <% include ../partials/messages %>

    <div class="container">
    
    <div class="jumbotron jumbotron-fluid">
      <div class="container justify-content-center jumbotron-content">
        <h1 class="display-4">Alexs Bizzare Coding Adventure</h1>
        <p class="lead">One idiot and his blog......about coding</p>
      </div>
    </div>
    
      <div class="row">
      

        <!-- Blog Entries Column -->
        <div class="col-md-8">

         <!--  <h1 class="my-4">Page Heading
             <small>Secondary Text</small>
           </h1> -->

          <!-- Blog Post -->
          <% blogs.forEach(function(blog){ %>
          <div class="card mb-4 index-post">
            <img class="card-img-top" src="<%= blog.image %>" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h2 class="card-title titles"> <%= blog.title %> </h2>
              <p class="card-text"><i> <%= blog.opener %> </i></p>
              <p class="card-text"> <%= blog.body.substring(0, 150) %>'... </p>
              <a href="/blog/<%= blog._id %>" class="btn btn-outline-danger titles">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on <%= blog.created %>
            </div>
          </div>
          <% }); %>

          <!-- Pagination -->
          <nav aria-label="Page navigation example">
            <% if (pages > 0) { %>
                <ul class="pagination justify-content-center mb-4">
                    <% if (current == 1) { %>
                        <li class="disabled page-item"><a class='page-link'>First</a></li>
                    <% } else { %>
                        <li><a class='page-link' href="/blogs/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled page-item"><a class='page-link'>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active page-item"><a class='page-link'><%= i %></a></li>
                        <% } else { %>
                            <li><a class='page-link' href="/blogs/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled page-item"><a class='page-link'>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled page-item"><a class='page-link'>Last</a></li>
                    <% } else { %>
                        <li><a class='page-link' href="/blogs/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
          </nav>
          
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4 side-widget">
            <h5 class="card-header titles">Search</h5>
            <div class="card-body">
              <div class="input-group">
              <form action="/blogs/" method="GET">
                <input type="text" class="form-control" placeholder="Search for..." name="search">
                <span class="input-group-btn">
                  <button class="btn btn-outline-danger titles" type="submit" value="search">Go!</button>
                </span>
              </form>
              </div>
            </div>
          </div>


          <!-- Side Widget -->
          <div class="card contact-card my-4 side-widget">
            <h5 class="card-header titles">Got a question?</h5>
            <div class="card-body">
              <a href='mailto: alexsbizarrecodingadventure@gmail.com'><h5>Email here!</h5></a>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->



<% include ../partials/footer %>