
    <!-- Page Content -->

    <% include ../partials/header %>

    <% include ../partials/messages %>

    <div class="container">
    
    <div class="jumbotron jumbotron-fluid">
      <div class="container justify-content-center jumbotron-content">
        <h1 class="display-4">Alexs Bizzare Coding Adventure</h1>
        <p class="lead">One idiot and his blog......about coding</p>
      </div>
    </div>
    
      <div class="row">
      

        <!-- Blog Entries Column -->
        <div class="col-md-8">

         <!--  <h1 class="my-4">Page Heading
             <small>Secondary Text</small>
           </h1> -->

          <!-- Blog Post -->
          <% blogs.forEach(function(blog){ %>
          <div class="card mb-4 index-post">
            <img class="card-img-top" src="<%= blog.image %>" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h2 class="card-title titles"> <%= blog.title %> </h2>
              <p class="card-text"><i> <%= blog.opener %> </i></p>
              <p class="card-text"> <%= blog.body.substring(0, 150) %>'... </p>
              <a href="/blog/<%= blog._id %>" class="btn btn-outline-danger titles">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on <%= blog.created %>
            </div>
          </div>
          <% }); %>

          
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4 side-widget">
            <h5 class="card-header titles">Search</h5>
            <div class="card-body">
              <div class="input-group">
              <form action="/blogs/" method="GET">
                <input type="text" class="form-control" placeholder="Search for..." name="search">
                <span class="input-group-btn">
                  <button class="btn btn-outline-danger titles" type="submit" value="search">Go!</button>
                </span>
              </form>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4 side-widget">
            <h5 class="card-header titles">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4 side-widget">
            <h5 class="card-header titles">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



<% include ../partials/footer %>