<% include ../partials/header %>


    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4 titles"><%= blog.title %></h1>

          <!-- Date/Time -->
          <p> <%= blog.created %> </p>
          
          <a href="/"><button class="btn bt-secondary titles">< Back</button></a>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="<%= blog.image %>" alt="">

          <hr>

          <div>
          <% if(!currentUser) { %>

          <% } else { %>
             <a type='button' class='btn btn-warning' href='./<%= blog.id %>/edit'>Edit Blog</a>
            <form id='delete-form' action='./<%= blog.id %>?_method=DELETE' method='POST'>
             <button class='btn btn-danger'>Delete Blog</button>
            </form>
          <% } %>
          </div>

          <!-- Post Content -->

          <p class="lead content"> <%= blog.opener %> </p>

          <p class="content"> <%= blog.body %> </p>
          
        <hr>

          <!-- Comment Link -->
          <a class="btn btn btn-outline-danger mb-4 titles" href="/blog/<%= blog._id %>/comments/new"> Add a comment here!</a>

          <!-- Single Comment -->
        <% blog.comments.forEach(function(comment){ %>
          <div class="media mb-4">
            <div class="media-body">
              <h5 class="mt-0 titles"><%= comment.name %></h5>
              <p class="content"><%= comment.body %></p>
              <hr>
            </div>
          </div>
        <% }) %>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4 side-widget">
            <h5 class="card-header titles">Search</h5>
            <div class="card-body">
              <div class="input-group">
              <form action="/blogs/" method="GET">
                <input type="text" class="form-control" placeholder="Search for..." name="search">
                <span class="input-group-btn">
                  <button class="btn btn-outline-danger titles" type="submit" value="search">Go!</button>
                </span>
              </form>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4 side-widget">
            <h5 class="card-header titles">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0 content">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0 content">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4 side-widget">
            <h5 class="card-header titles">Side Widget</h5>
            <div class="card-body content">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    
<% include ../partials/footer %>

